*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 150%; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

img {
  display: block;
  max-width: 100%; }

html,
body {
  overflow-x: hidden; }

button {
  background-color: transparent;
  cursor: pointer; }

a {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 150%; }

span {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 4rem;
  line-height: 112%;
  letter-spacing: -1px; }

.container {
  width: 100%;
  max-width: calc(119rem + 1.5rem);
  padding: 0 1.5rem;
  margin: 0 auto; }

h1,
h2,
h3 {
  font-family: "Sora";
  font-style: normal;
  color: #4e4b59; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 35px; }

h1,
h2 {
  font-weight: 700;
  line-height: 112%;
  letter-spacing: -1px; }

h3 {
  font-size: 25px; }

h3 {
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.5px; }

.p1,
.p2,
.p3 {
  font-family: "Inter";
  font-style: normal;
  color: #4e4b59;
  line-height: 150%;
  font-weight: 400; }

.p1 {
  font-size: 2rem; }

.p2 {
  font-size: 1.5rem; }

.p3 {
  font-size: 1.2rem; }
