header {
  background-color: $brand-color-bg;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;

  .container {
    @include flex(row, space-between, center);
  }
  nav {
    @include flex(row, space-between, center);
    ul {
      @include flex(row, space-between, center);
      padding: 3.6rem 0;
      gap: 4rem;
      li:last-child {
        margin-right: 4rem;
      }
    }

    .header-btns {
      @include flex(row, space-between, center);
      gap: 1.6rem;
    }
  }
}
