.s-skills {
  .container {
    @include flex(column, center, center);
  }

  h2 {
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: $brand-color-light;
    margin-bottom: 5rem;

    &::before,
    &::after {
      width: 2rem;
      height: 2rem;
      margin: 0 0.5rem;
      color: $brand-color-purple;
      opacity: 1;
      font-family: "Sora";
      font-style: normal;
      font-weight: 700;
      font-size: 3.5rem;
      line-height: 120%;
      letter-spacing: -0.02em;
    }

    &::before {
      content: "<";
    }

    &::after {
      content: "/>";
    }
  }

  ul {
    @include flex(row, center, center);
    flex-wrap: wrap;

    gap: 5.5rem;
    margin-bottom: 4rem;
    li {
      cursor: pointer;
      @include baladAnimation;
    }
  }

  .arrow-down {
    @include flex(column, center, center);
    gap: 1rem;

    img:nth-child(1) {
      animation: downOpacity 2s infinite ease-in-out;
      animation-delay: 0.3s;
      animation-fill-mode: backwards;
    }
    img:nth-child(2) {
      animation: downOpacity 2s infinite ease-in-out;
      animation-delay: 0.6s;
      animation-fill-mode: backwards;
    }
    img:nth-child(3) {
      animation: downOpacity 2s infinite ease-in-out;
      animation-delay: 0.9s;
      animation-fill-mode: backwards;
    }
  }
}
